@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

:root{
  --max-width: 1100px;
}

html,body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-800 antialiased;
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* utility small */
.section {
  @apply py-24 lg:py-32;
}

/* subtle focus for accessibility */
:focus {
  outline: 3px solid rgba(59,130,246,0.25);
  outline-offset: 3px;
}
