<section 
  class="pt-28 pb-20 text-center bg-[url('/projects/wedding-invitation/hero.jpg')] bg-cover bg-center bg-no-repeat relative"
>
  <div class="absolute inset-0 bg-white/60 backdrop-blur-sm"></div>

  <div class="relative z-10">
    <h1 class="text-4xl md:text-5xl font-bold mb-3 tracking-wide">
      <span class="text-gray-800">The Wedding Of</span>
    </h1>

    <h2 class="text-4xl md:text-5xl font-extrabold mb-3 text-rose-600">
      Fulana & Fulan
    </h2>

    <p class="text-gray-700 mt-2">Monday, 01 July 2026</p>
  </div>
</section>
